@import "macro-css";

// font-family: 'Inter', sans-serif;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #e7f6ff;
	color: #000;
}

p {
	margin: 0;
}

.wrapper {
	background: #ffffff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
	max-width: 1080px;
	margin: 50px auto;
}

header {
	border-bottom: 1px solid #eaeaea;
	img {
		margin-right: 15px;
	}
	h3,
	p {
		margin: 0;
	}
	p {
		color: #9d9d9d;
		font-size: 14px;
	}
	ul li span {
		vertical-align: top;
	}
}

.content {
	h1 {
		margin: 0;
	}
}



.content-top-header {
	position: relative;
	width: 250px;
}
.content-top-header > svg {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 14px;
}
.content-search {
	padding: 14px 14px 14px 46px;
	border: 1px solid #f3f3f3;
	cursor: pointer;
	border-radius: 10px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: black;
	transition: border 1s ease;
}

.content-search::placeholder {
	color: #c4c4c4;
}

.content-search:hover {
	border: 1px solid black;
	box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.08);
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.1);
	z-index: 1;
	width: 100%;
	height: 100%;
}

.drawer {
	position: absolute;
	width: 400px;
	height: 100%;
	right: 0;
	background: #ffffff;
	box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
	padding: 30px 30px 30px 30px;
	display: flex;
	flex-direction: column;
	h2 {
		margin: 0;
		font-family: "Inter", sans-serif;
		font-weight: 700;
		color: #000000;
		font-size: 24px;
		margin-bottom: 30px;
	}
}



.drawer .cart-items {
  overflow: auto;
  margin-bottom: 40px;
}

.cart-item {
	display: flex;
	align-items: center;
	padding: 20px 20px 30px 20px;
	border: 1px solid #f3f3f3;
	border-radius: 20px;
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
	.snickers {
		width: 70px;
		height: 70px;
		margin-right: 20px;
		object-fit: cover;
		background-size: contain;
    	background-position: center;
    	background-repeat: no-repeat;
	}
	.cart-item-text {
		font-family: "Inter", sans-serif;
		padding-right: 12px;
		h4 {
			margin: 0;
			font-weight: 400;
			font-size: 14px;
			padding-bottom: 8px;
		}
		div {
			font-weight: 700;
			font-size: 14px;
		}
	}
	.close {
		border: 1px solid #dbdbdb;
		border-radius: 4px;
		padding: 8px;
		opacity: 0.4;
		transition: all .4s ease;
		&:hover {
			opacity: 1;
		}
	}
}

.bottom-clear {
	font-family: "Inter", sans-serif;
	.clear-block {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 20px;
		.clear-title {
			margin-right: 12px;
		}
		.clear-dotted {
			border-bottom: 1px dotted #dfdfdf;
			width: 40%;
			margin: 0;
			margin-right: 12px;
		}
		.clear-price {
			font-weight: 600;
			font-size: 16px;
		}
	}
	.btn-wrap {
    position: relative;
		button {
			font-family: "Inter", sans-serif;
			color: #ffffff;
			font-weight: 600;
			width: 100%;
			background: #9dd458;
			border-radius: 18px;
			border: none;
			padding: 18px 0;
		}
	}
	svg {
      position: absolute;
      right: 29px;
      top: 50%;
      transform: translateY(-50%);
    }
}
